/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 2, 2015, 2:41:46 AM
    Author     : Siahaan
*/
@import url("font.css");

body
{
    font-family: 'Lato', sans-serif;
}

h4
{
    font-family: 'FjallaOne';
    color: #70616a;
    font-size: 1.6em;
}


#header
{
    padding: 0 !important;
    margin: 0 !important;
}

.logo
{
    position: relative;
    padding: 0;
    margin-top: 15px;
}

.logo img
{
    width: 100px;
}

.header-text-first
{
    float: left;
    font-size: 5.8em;
    color:  #0a30f3;
    text-transform: uppercase;
    font-family: 'OptimaLTStd-Bold';
}

.header-text-second
{
    margin-top: 25px;
    width: 160px;
    float: left;
    position: relative;
    color:  #0a30f3;
    text-transform: uppercase;
    font-family: 'OptimaLTStd-Bold';
}

.header-text-second .top
{
    font-size: 2.0em;
}

.header-text-second .bottom
{
    margin-top: -10px;
    font-size: 1.8em;
}

.header-text-red
{
    margin-top: 10px;
    float: right;
    width: 680px;
    font-size: 1.4em;
    color: #dc0814;
    font-family: 'Lato-BoldItalic';
}
.paddingless
{
    padding: 0 !important;
    margin: 0 !important;
}

.withborder
{
    border: 1px;
    border-style: dashed;
}

.navdecoration li a
{
    color: #5e5e5e;
    font-family: 'OptimaLTStd-Bold';
    width: 200px;
    font-size: 1.2em;
}

.dropdown-menu > li > a {
	font-size: 1.0em;
 }

.custom-carousel .carousel-caption
{
    right: 0;
    background: #b92c28;
    text-align: left;
    padding-left: 40px;
}

.custom-carousel .carousel-caption h3
{
    color: #fff;
    font-size: 2.8em;
    font-family: 'ABeeZee-Regular';

}

.custom-carousel .carousel-caption p
{
    color: #fff;
    margin-left: 70px;
    font-family: 'Amaranth-Italic';
    font-size: 1.2em;
}

.marquee
{
    
    background-color: #262626;
    margin-top: 10px;
    font-size: 1.2em;
    position: relative;
    float: left;
    color: #ffffff;
    line-height: 60px;
    overflow: hidden;
    font-family: 'FiraSans-MediumItalic';
}

.border-red
{
    float: left;
      height: 0;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
          box-sizing: content-box;
        
        width: 25%;  
        margin-top: 5px;
        margin-bottom: 20px;
        border: 0;
        border-top: 2px solid red;    
}

.border-grey
{
    float: left;
      height: 0;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
          box-sizing: content-box;
        
        width: 70%;  
        margin-top: 5px;
        margin-bottom: 20px;
        border: 0;
        border-top: 2px solid #ddd;    
}



.news
{
    float: left;
    padding: 0 !important;
}

.news-item
{
    float: left;
    padding: 0;
    margin-bottom: 20px;
}
.news-item img
{
    float: left;
}
.news-item-text
{
    float: left;
    margin-left: 5px;
    text-align: left;
    width: 150px;
}

.news-item-text .date
{
    color: #2b669a;   
}

.news-item-text .caption a
{
    color: #b92c28;
    text-transform: uppercase;
    font-size: 0.9em
}

.news-item a
{
    color: #2b669a
}

.searchbar
{
    margin: 10px 0;
}

.main-news img
{
    position: relative;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    z-index: 10;
}
.main-news
{
    min-height: 280px;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    padding: 0 20px 20px 20px;
    float: left;
    text-align: justify;
}

.main-news .headline p
{
    margin-top: 120px;
}

.main-news .title-div
{
    position: absolute;
    background-color: #1a1a1a;
    width: 420px;
    height: 100px;
    opacity: 1.0;
    padding-top: 5px;
    padding-left: 10px;
    z-index: 999999;
    text-align: left;
    right: 0;
}

.main-news .title-div h3
{
    font-size: 1.8em;
    color: #fdfdfd;
    float: left;
    text-align: left;
    font-family: 'AverageSans-Regular';
}

.main-news .title-div .author
{
    font-size: 1.0em;
    margin: 0;
    color: #b0b0b0;
}


.main-news .category
{
    
    font-size: 2.4em;
    color: #5e5e5e;
    text-align: right;
    text-transform: uppercase;
    font-family: 'Lato-BoldItalic';
    
}

.related-news
{
    float: left;
}

.related-news .item
{
    margin-top: 20px;
}

.related-news .item .title
{
    color: #000;
    font-size: 1.4em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.related-news .item a
{
    color: #2b669a;
    font-size: 1.0em;
    font-style: italic;
}

.related-news .item .perikop
{
    color: #000;
    font-size: 1.0em;
    font-weight: bold;   
}


.right-event
{
    margin: 0 0 10px 0 !important;
    padding: 0!important;
}

.right-event ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.right-event ul li
{
    display: block;
}

.right-event li:before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 5px;
    content: "\e080";
}

.right-event ul li a
{
    font-size: 1em;
    color: #eb523d;
    font-family: 'FiraSans-MediumItalic';
}

.right-event .title
{
    color: #2b669a;
    font-size: 0.9em;
}

.right-event a
{
    color: #b92c28;
    text-transform: uppercase;
    font-size: 0.9em
}

.last-event
{
    float: left;
    text-align: left;
    margin: 0;
}

.last-event .title
{
    color: #2b669a;
    font-size: 1.1em;
}

.last-event a
{
    color: #b92c28;
    font-size: 1.2em;
}

.bottom-event
{
    margin: 0 !important;
    padding: 0 !important;
}

.bottom-event h3
{
    color: #747474;
    text-transform: uppercase;
    font-size: 2em;
    font-family: 'FjallaOne';
}

.bottom-event ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bottom-event li
{
    display: block;
}

.bottom-event li:before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 5px;
    content: "\e080";
}

.bottom-event li a
{
    font-size: 1em;
    color: #dc893e;
    font-style: italic;
}

.bottom-contact
{
    text-align: center;
    margin-top: 40px;
    padding: 0 !important;
}

.bottom-contact .header
{
    color: #d6751c;
    font-size: 2.5em;
    font-family: 'OptimaLTStd-Bold';
}

.bottom-contact .subheader
{
    color: #6f6c69;
    margin-top: -10px;
    font-size: 2em;
    font-family: 'OptimaLTStd-Bold';
}
.bottom-contact .address
{
    color: #6f6c69;
    font-size: 1em;
    font-family: 'Amaranth-Italic';
}

.bottom-contact .phone
{
    color: #d6751c;
    font-size: 1.8em;
    margin-top: 10px;
    font-family: 'Amaranth-Italic';
}

.social-icon i
{
    float: right;
    margin-left: 30px;
}

.detail-home{
    
    min-height: 280px;
    padding: 0 20px 20px 20px;
    float: left;
    text-align: justify;
    margin-top: 20px;
    
}

.detail-home img{
    
    float: left;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    z-index: 10;
    
}

.detail-home p{
    
    text-align: justify;
}

.related
{
    float: left;
    width: 100%;
}

.related .item
{
    margin-top: 20px;
    border-bottom: 1px #dddddd solid;
}

.related .item .title
{
    color: #000;
    font-size: 1.4em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.related .item a
{
    color: #2b669a;
    font-size: 1.0em;
    font-style: italic;
}

.related .item .perikop
{
    color: #000;
    font-size: 1.0em;
    font-weight: bold;   
}
